
.image-box {
    position: relative;
}

.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-text-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image-text {
    display: inline-block;
    text-align: center;
    color: white;
}

.image-picture {
    display: inline-block;
}

.image-border{
    border-style: solid;
    border-color: var(--highlight-color);
    border-width: 3px;
}
